# Splitting data processing into multiple steps

Break a complex question into multiple steps and check your work along the way:

e.g. What is the average precipitation on for days with a high temperature less than 60 and a low temperature of 30 or less, for days with and without snow fall?

In [1]:
import pandas as pd

In [4]:
weather = pd.read_csv('https://raw.githubusercontent.com/dlevine01/urban-data-analysis-course/refs/heads/main/Data/Source%20Data/weather_data_nyc_centralpark_2016.csv')

In [6]:
weather['precipitation_n'] = pd.to_numeric(weather['precipitation'],errors='coerce')
weather['snow fall_n'] = pd.to_numeric(weather['snow fall'],errors='coerce')

In [7]:
weather

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth,precipitation_n,snow fall_n
0,1-1-2016,42,34,38.0,0.00,0.0,0,0.00,0.0
1,2-1-2016,40,32,36.0,0.00,0.0,0,0.00,0.0
2,3-1-2016,45,35,40.0,0.00,0.0,0,0.00,0.0
3,4-1-2016,36,14,25.0,0.00,0.0,0,0.00,0.0
4,5-1-2016,29,11,20.0,0.00,0.0,0,0.00,0.0
...,...,...,...,...,...,...,...,...,...
361,27-12-2016,60,40,50.0,0,0,0,0.00,0.0
362,28-12-2016,40,34,37.0,0,0,0,0.00,0.0
363,29-12-2016,46,33,39.5,0.39,0,0,0.39,0.0
364,30-12-2016,40,33,36.5,0.01,T,0,0.01,NaN
365,31-12-2016,44,31,37.5,0,0,0,0.00,0.0

In [8]:
days_with_high_less_than_60 = (
    weather
    [
        weather['maximum temperature'] < 60
    ]
)

In [9]:
days_with_high_less_than_60

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth,precipitation_n,snow fall_n
0,1-1-2016,42,34,38.0,0.00,0.0,0,0.00,0.0
1,2-1-2016,40,32,36.0,0.00,0.0,0,0.00,0.0
2,3-1-2016,45,35,40.0,0.00,0.0,0,0.00,0.0
3,4-1-2016,36,14,25.0,0.00,0.0,0,0.00,0.0
4,5-1-2016,29,11,20.0,0.00,0.0,0,0.00,0.0
...,...,...,...,...,...,...,...,...,...
360,26-12-2016,50,33,41.5,0.02,0,0,0.02,0.0
362,28-12-2016,40,34,37.0,0,0,0,0.00,0.0
363,29-12-2016,46,33,39.5,0.39,0,0,0.39,0.0
364,30-12-2016,40,33,36.5,0.01,T,0,0.01,NaN
365,31-12-2016,44,31,37.5,0,0,0,0.00,0.0

In [10]:
len(days_with_high_less_than_60)

146

In [18]:
days_with_also_low_temperature_30_or_less = (
    days_with_high_less_than_60
    [
        days_with_high_less_than_60['minimum temperature'] <= 30
    ]
)

In [19]:
days_with_also_low_temperature_30_or_less

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth,precipitation_n,snow fall_n
3,4-1-2016,36,14,25.0,0.00,0.0,0,0.00,0.0
4,5-1-2016,29,11,20.0,0.00,0.0,0,0.00,0.0
5,6-1-2016,41,25,33.0,0.00,0.0,0,0.00,0.0
10,11-1-2016,40,26,33.0,0.00,0.0,0,0.00,0.0
11,12-1-2016,44,25,34.5,0.00,T,0,0.00,NaN
12,13-1-2016,30,22,26.0,0.00,0.0,0,0.00,0.0
13,14-1-2016,38,22,30.0,0.00,T,0,0.00,NaN
16,17-1-2016,42,30,36.0,0.05,0.4,0,0.05,0.4
17,18-1-2016,31,18,24.5,T,T,T,NaN,NaN
18,19-1-2016,28,16,22.0,0.00,0.0,T,0.00,0.0
19,20-1-2016,37,27,32.0,0.00,0.0,T,0.00,0.0
20,21-1-2016,36,26,31.0,0.00,0.0,0,0.00,0.0
21,22-1-2016,30,21,25.5,0.01,0.2,0,0.01,0.2
22,23-1-2016,27,24,25.5,2.31,27.3,6,2.31,27.3
23,24-1-2016,35,20,27.5,T,T,22,NaN,NaN
24,25-1-2016,39,28,33.5,0.00,0.0,19,0.00,0.0
28,29-1-2016,41,30,35.5,0.00,0.0,6,0.00,0.0
29,30-1-2016,39,28,33.5,0.00,0.0,6,0.00,0.0
36,6-2-2016,40,30,35.0,0.00,0.0,0,0.00,0.0
38,8-2-2016,39,28,33.5,0.05,0.1,0,0.05,0.1
39,9-2-2016,36,27,31.5,0.00,T,T,0.00,NaN
41,11-2-2016,31,18,24.5,T,T,0,NaN,NaN
42,12-2-2016,27,15,21.0,0.00,0.0,0,0.00,0.0
43,13-2-2016,22,6,14.0,0.00,0.0,0,0.00,0.0
44,14-2-2016,15,-1,7.0,0.00,0.0,0,0.00,0.0
45,15-2-2016,35,13,24.0,0.44,1.4,0,0.44,1.4
48,18-2-2016,36,27,31.5,0.00,0.0,0,0.00,0.0
49,19-2-2016,39,24,31.5,0.00,0.0,0,0.00,0.0
56,26-2-2016,39,27,33.0,0.00,0.0,0,0.00,0.0
57,27-2-2016,41,26,33.5,0.00,0.0,0,0.00,0.0
61,2-3-2016,55,29,42.0,0.14,0.0,0,0.14,0.0
62,3-3-2016,36,26,31.0,0.00,0.0,0,0.00,0.0
63,4-3-2016,39,30,34.5,0.11,0.4,T,0.11,0.4
64,5-3-2016,41,28,34.5,0.00,0.0,0,0.00,0.0
94,4-4-2016,45,29,37.0,0.47,T,0,0.47,NaN
95,5-4-2016,43,26,34.5,0.00,0.0,0,0.00,0.0
96,6-4-2016,48,30,39.0,0.00,0.0,0,0.00,0.0
343,9-12-2016,39,29,34.0,0,0,0,0.00,0.0
344,10-12-2016,35,28,31.5,0,0,0,0.00,0.0
345,11-12-2016,35,28,31.5,0.03,0.4,0,0.03,0.4
349,15-12-2016,34,19,26.5,0,T,0,0.00,NaN
350,16-12-2016,27,17,22.0,0,0,0,0.00,0.0
351,17-12-2016,39,24,31.5,0.73,2.8,2,0.73,2.8
353,19-12-2016,31,23,27.0,0,0,0,0.00,0.0
354,20-12-2016,33,20,26.5,0,0,0,0.00,0.0
355,21-12-2016,40,30,35.0,0,0,0,0.00,0.0

In [20]:
(
    weather
    [
        weather['snow fall_n'] > 0
    ]
)

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth,precipitation_n,snow fall_n
16,17-1-2016,42,30,36.0,0.05,0.4,0,0.05,0.4
21,22-1-2016,30,21,25.5,0.01,0.2,0,0.01,0.2
22,23-1-2016,27,24,25.5,2.31,27.3,6,2.31,27.3
35,5-2-2016,44,31,37.5,0.53,2.5,1,0.53,2.5
38,8-2-2016,39,28,33.5,0.05,0.1,0,0.05,0.1
45,15-2-2016,35,13,24.0,0.44,1.4,0,0.44,1.4
63,4-3-2016,39,30,34.5,0.11,0.4,T,0.11,0.4
80,21-3-2016,50,32,41.0,0.06,0.5,T,0.06,0.5
345,11-12-2016,35,28,31.5,0.03,0.4,0,0.03,0.4
351,17-12-2016,39,24,31.5,0.73,2.8,2,0.73,2.8

In [21]:
len(days_with_also_low_temperature_30_or_less)

46

In [28]:
days_in_temp_range_with_any_snow_fall_category = (
    days_with_also_low_temperature_30_or_less
    .assign(
        any_snow_fall = days_with_also_low_temperature_30_or_less['snow fall_n'] > 0
    )
)

In [29]:
days_in_temp_range_with_any_snow_fall_category.head()

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth,precipitation_n,snow fall_n,any snow fall,any_snow_fall
3,4-1-2016,36,14,25.0,0.00,0.0,0,0.0,0.0,False,False
4,5-1-2016,29,11,20.0,0.00,0.0,0,0.0,0.0,False,False
5,6-1-2016,41,25,33.0,0.00,0.0,0,0.0,0.0,False,False
10,11-1-2016,40,26,33.0,0.00,0.0,0,0.0,0.0,False,False
11,12-1-2016,44,25,34.5,0.00,T,0,0.0,NaN,False,False

In [31]:
(
    days_in_temp_range_with_any_snow_fall_category
    .groupby('any_snow_fall')
    ['precipitation_n']
    .mean()
)

any_snow_fall
False    0.017429
True     0.466250
Name: precipitation_n, dtype: float64