# Getting started with Jupyter notebooks

This is a Jupyter notebook. This is the platform we will use for learning Python tools and exploring and analyzing data.

Notebooks are organized into cells. This is a 'markdown' cell, which stores text. This is useful for giving context or explaining analytic findings or adding extra comments describing what your code is doing.

These cells use the [markdown](https://commonmark.org/help/) syntax, an easy way to format plain text.

In [5]:
# this is a code cell

2 + 3

5

Running a code cell (by clicking the play button) executes the code and displays the result. At the simplest, Jupyter and Python work as a calculator.

# Objects

### Assignment

A fancy way to do arithmetic is fine, but the real value of using code is in creating objects and using methods to transform objects.

**What??*

The cell below uses the `=` for _assignment_: it creates two objects and assigns values to each.

In [6]:
variable_a = 5
variable_b = 3

Now we can use those objects as if they are numbers

In [7]:
variable_a + variable_b

8

Assigning again changes the value stored to the object

In [8]:
variable_a = 6

In [9]:
variable_a + variable_b

9

It is good practice to have your notebooks run from top-to-bottom, but as you are learning you will also go back, make changes to cells above, update the values of objects, and run again. 

Try changing the value of `variable_a` to `5` and then running the cell above again.

### Object types

Objects can be more than numbers. For example, this stores words as an object:

In [10]:
greeting = 'Hello world!'

Because `greeting` was created as text, it comes with pre-built _methods_. Methods act on object on which they are called to return a modified result. 

Methods are called with the `.` (dot) syntax: for example, text objects have a `.upper()` method which returns upper-case text:

In [11]:
greeting.upper()

'HELLO WORLD!'

...or a `.split()` method that splits words and returns a sequence.

In [25]:
greeting.split()

['Hello', 'world!']

Methods can also take _arguments_ which define how they act.

In [26]:
greeting.split(sep='o')

['Hell', ' w', 'rld!']

This changes the separator from the default, a space, to 'o'.

(As a technical note, the `=` in the example above is _not_ being used for assignment. Another way the `=` can be used is like this, to set argument values.)

Don't worry now about all the methods that act on text, the fundamental lesson here is just that objects have pre-defined methods that return transformed results, and these methods accept arguments to define exactly what they do.

### Imports

So far we have just been working with some core Python functionality. Python is a general-purpose language with some core syntax for many possible uses. But for data analysis specifically, we will extend base Python by importing additional packages.

A foundational package we will use often is `pandas`.

In [22]:
import pandas as pd

The cell below works like Neo learning kung fu: now your notebook environment knows how to use pandas functions, objects, and methods.

### DataFrames

The primary object used with the `pandas` package is the `DataFrame`. 

This is a flexible container for storing rows and columns of data.

For starters, you can think of a DataFrame like an Excel spreadsheet (but we'll see how they are more flexible and powerful)

In [27]:
toy_dataframe = pd.DataFrame(
    {
        'color':['red','blue','yellow'],
        'number':[3,6,5],
        'flavor':['vanilla','chocolate','strawberry']
    }
)

(Don't worry too much about the syntax here because you'll hardly ever construct DataFrames this way.)

To show a DataFrame in a notebook, enter its name:

In [ ]:
toy_dataframe

    color  number      flavor
0     red       3     vanilla
1    blue       6   chocolate
2  yellow       5  strawberry

A simple table, with rows and columns.

### DataFrame methods

The key here is that DataFrames also have methods - a ton of them - that make it easy to transform, reshape, and summarize data.

For example, you can sort a DataFrame by a column:

In [28]:
toy_dataframe.sort_values(by='flavor')

    color  number      flavor
1    blue       6   chocolate
2  yellow       5  strawberry
0     red       3     vanilla

In [29]:
toy_dataframe.sort_values(by='number')

    color  number      flavor
0     red       3     vanilla
2  yellow       5  strawberry
1    blue       6   chocolate

We'll dive more into DataFrame methods in the next notebook.

# Tasks

1. Create two new objects, called "green" and "red", and set their values respectively to 10 and 15. 
2. Subtract "red" from "green".

In [ ]:
## Your code here:

1. Change the value of "red" to 20.
2. Divide "red" by "green".

In [ ]:
### Your code here:

1. Create an object called "name" and assign it your name
   1. _hint_: you'll need to wrap your name in `'` quotes
2. Display your name lower case using the `.lower` method.

In [ ]:
## Your code here: